<h1> Add A New Photo </h1>

<form action="http://localhost:3000/create_photo">
  <label> Caption</label>
  <input type = "text" name = "the_caption">

  <label> Source</label>
  <input type = "text" name="the_source">


  <button> Create Photo </button>
</form>
